/*!
 * Roots 6.5.1
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titilliumtext22l-250wt.eot');
    src: url('../fonts/titilliumtext22l-250wt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l-250wt.woff') format('woff'),
         url('../fonts/titilliumtext22l-250wt.ttf') format('truetype'),
         url('../fonts/titilliumtext22l-250wt.svg#titilliumtext22l250_wt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titilliumtext22l-600wt.eot');
    src: url('../fonts/titilliumtext22l-600wt.eot?#iefix') format('embedded-opentype'),
         url('../fonts/titilliumtext22l-600wt.woff') format('woff'),
         url('../fonts/titilliumtext22l-600wt.ttf') format('truetype'),
         url('../fonts/titilliumtext22l-600wt.svg#titilliumtext22l600_wt') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* ==========================================================================
   Variables
   ========================================================================== */
   
@grayColor: #f6f7fb;
@lightGray: #a9a9a9;
@darkBlueColor: #19273d;
@linkColor: #ff795d;
@positionColor: #1588d1;
@defaultFont: 'Titillium', sans-serif;
@footerTextColor: #3b475f;
@footerBackgroundColor: #0e1c31;
@headerBackgroundColor: #3090d5;
@headerBackgroundColorOpacity: rgba(48, 144, 213, 0.9);

/* ==========================================================================
   Base
   ========================================================================== */

body { 
   font-family: @defaultFont;
}

.container {
   width: 1024px !important;
}

.border-line {
   .aligncenter;
}

.section {
   position: relative;
   
   h2 {
      padding: 55px 0;
      margin: 0;
      margin-bottom: 55px;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
      color: @lightGray;  
      font-family: @defaultFont;
      font-weight: bold;
      position: relative;
      &:after {
         .aligncenter;
         content: ' ';
         width: 100%;
         height: 1px;
         background: url(../img/border.png) center no-repeat;
         position: absolute;
         bottom: 0;
      }
   }

   h3 {
      font-size: 36px;
      text-align: center;
      font-family: @defaultFont;
      color: @darkBlueColor;
      margin-top: 0;
   }

   p {
      font-size: 18px;
      text-align: center;
   }
}

.section.border {
   &:after {
      content: ' ';
      width: 33%;
      height: 7px;
      background: @linkColor;
      position: absolute;
      left: 0;
      bottom: 0;
   }
}

/* ==========================================================================
   Header
   ========================================================================== */
   
.homepage-slider {
   position: relative;
   
   #slidesStripe {
      height: 7px;
      background: @linkColor;
      position: absolute;
      bottom: -7px;
      z-index: 99;
   } 

   #rev_slider_1_1_wrapper {
      .tp-caption.small_text span {
         font-size: 80% !important;
         color: #0077b7 !important;
      }

      .tp-leftarrow.default {
         background-image: url(../img/strzalka-lewa.png);
         width: 54px;
         height: 96px;
      }

      .tp-rightarrow.default {
         background-image: url(../img/strzalka-prawa.png);
         width: 54px;
         height: 96px;
      }
   }
}  

header {
   padding: 30px 0;
   left: 0;
   top: 0;
   right: 0;
   z-index: 101;
   background: @headerBackgroundColor;
   background: @headerBackgroundColorOpacity;

   .main-nav ul {
      position: relative;
      top: 6px;
      padding: 0;
      margin: 0;
      
      li {
         list-style-type: none;
         display: inline-block;
         padding-left: 50px;
         position: relative;
         
         a {
            font-size: 16px;
            display: inline-block;
            padding-bottom: 5px;
            color: #fff;
            border-bottom: 1px solid transparent;
            .transition(all 0.2s ease-in);
            
            &:hover {
               text-decoration: none;
               border-color: #fff;
            }
         }

         &:first-child {
            padding-left: 0;
         }

         &.active a {
            border-color: #fff;
         }
      }
   }

   .visit-our-blog {
      position: absolute;
      top: 25px;
      left: 870px;
      width: 145px;
      color: #fff; 
      
      .visit-our-blog-inner {
         display: table;
         vertical-align: middle;
         margin-bottom: 5px;
         
         .visit-text,
         .visit-logo {
            display: table-cell;
            padding: 10px;
            border: 1px solid #fff;
            .transition(all 0.2s ease-in);
         }

         .visit-text {
            color: #fff;
            background: transparent;
            padding-left: 14px;
            padding-right: 14px;
            
            p {
               margin: 0;
            }
         }

         .visit-logo {
            width: 35px;
            border-left: 0;
            background: url(../img/visit-tumblr.png) no-repeat center;
         }

         &:hover .visit-text {
            border-color: lighten(@headerBackgroundColor, 8%);
            background: #fff;
            color: @headerBackgroundColor;
         }

         &:hover .visit-logo {
            border-color: lighten(@headerBackgroundColor, 8%);
            background: #fff url(../img/visit-tumblr-hover.png) no-repeat center;
         }
      }
   }

   @media (min-width: 1045px) {
      .visit-our-blog {
         left: auto;
         right: 25px;
      }
   }

   @media (min-width: 1360px) {
      .main-nav ul li { 
         padding-left: 80px;
      }
   }
}   

/* ==========================================================================
   Slogan
   ========================================================================== */
   
.slogan {
   img {
      .aligncenter;
      margin-top: 85px;
      margin-bottom: 85px;
   }
}   

/* ==========================================================================
   About
   ========================================================================== */
   
.about {
   background: @grayColor;
   padding-bottom: 55px;

   img {
      .aligncenter;
   }

   p.chart-description {
      width: 830px;
      .aligncenter;
   }

   img.chart {
      margin-top: 50px;
      margin-bottom: 50px;
   }   
   
   .about-qa {
      width: 817px;
      .aligncenter;
      margin-top: 55px;
      
      h4 {
         font-size: 22px;
         color: @darkBlueColor;
         font-family: @defaultFont;
         margin-top: 0;
         text-align: center;
         font-weight: bold;
      }

      p {
         font-size: 18px;
         line-height: 120%;
         text-align: center;
         color: @darkBlueColor;
      }

      .read {
         text-decoration: underline;
         color: @linkColor;
         text-align: center;
         font-size: 16px;
         display: table;
         margin: 0 auto;
         cursor: pointer;
         &:hover {
            text-decoration: none;
         }
      }

      .all,
      .read.less {
         display: none;
      }

   }

}  

/* ==========================================================================
   Research
   ========================================================================== */
   
.research {
   .container {
      width: 870px !important;
   }

   h3 {
      margin-bottom: 30px;  
   }

   ul.research-list {
      padding: 0;
      width: 620px;
      .aligncenter;
      margin-top: 50px;
      margin-bottom: 0;
      
      li {
         list-style-type: none;
         text-align: center;
         margin-top: 50px;
         
         &:first-child {
            margin-top: 0;
         }
         
         a {
            font-size: 18px;
            color: @darkBlueColor;
         }
      }
   }
}    

/* ==========================================================================
   How Are You App
   ========================================================================== */
   
.app {

   img {
      .aligncenter;
      margin-top: 80px;
      margin-bottom: 0;
      max-width: 100%;
   }

   h3 {
      margin-top: 80px;
   }

   p {
      margin: 0;
   }
}

/* ==========================================================================
   Features
   ========================================================================== */
   
.features {
   background: url(../img/features.png) center top no-repeat;
   
   h2 {
      color: #fff;
      &:after {
         display: none;
      }
   }

   p {
      margin-bottom: 0;
   }

   .features-list {
      margin-top: -80px;
   }

   .feature {
      width: 341px;
      height: 288px;
      margin-bottom: 140px;
      position: relative;

      p {
         margin-top: 0;
         width: 205px;
         .aligncenter;
      }

      img {
         .aligncenter;
      }

      .zoom {
         position: absolute;
         top: 0;
         left: 28px;
         .opacity(0);
         .transition(all 0.2s ease-in);
      }

      .icon-and-text {
         .opacity(1);
         .transition(all 0.2s ease-in);
         img {
            margin-top: 75px;
            margin-bottom: 30px;
         }
      }

      &:hover .icon-and-text {
         .opacity(0);
      }

      &:hover .zoom {
         .opacity(1);
      }
   }

   .testamonials {
      margin-bottom: 50px;
      
      h2 {
         margin-bottom: 20px;
      }

      .testamonial {
         .make-xs-column(4, 26px);
      }

      p.opinion {
         font-style: italic;
         font-size: 24px;
         color: @darkBlueColor;
         margin-top: 20px;
         font-weight: bold;
      }

      p.person {
         padding-left: 55px;
         padding-top: 10px;
         padding-bottom: 10px;
         background: url(../img/testamonial-icon.png) no-repeat left center;
         color: #fff;
         .aligncenter;
         display: table;         
         margin-top: 0;
         margin-bottom: 0;
      }

      p {
         margin-bottom: 0;
      }
   }
}   

/* ==========================================================================
   Download
   ========================================================================== */

.download {
   background: @linkColor;
   
   a {
      .aligncenter;
      display: table;
   }
   
   h2,
   h3,
   p {
      color: #fff;
   }

   h2 {
      font-size: 36px;
      font-weight: bold;
      padding-bottom: 0;
      margin-bottom: 0;
      text-transform: none;
      
      &:after {
         display: none;
      }
   }

   h3 {
      font-size: 36px;
      font-weight: bold;
   }

   p {
      margin-top: 25px;
   }

   a:hover {
      text-decoration: none;
      border: 0;
   }

   .app-icon {
      img {
         .aligncenter;
      }

      margin-top: -23px;      
   }

   .available-platforms {
      margin-top: 90px;
      margin-bottom: 55px;
   }

}

/* ==========================================================================
   Team
   ========================================================================== */

.team {
   .team-lists {
      margin-bottom: 100px;
      .team-member {
         img {
            .aligncenter;
            margin-bottom: 30px;
         }

         p {
            margin: 0;
         }

         span.position {
            font-size: 16px;
            color: @positionColor;
            text-align: center;
            display: block;
         }
      }
   }
}

/* ==========================================================================
   Awards
   ========================================================================== */
   
.awards {
   .awards-list {
      margin-top: 55px;
      
      p {
         color: @darkBlueColor;
      }

      img {
         .aligncenter;
         display: table;
         margin-top: 35px;
      }
   }
}   

/* ==========================================================================
   Contact
   ========================================================================== */

.contact {
   background: @darkBlueColor;
   padding: 50px 0;
   
   #mc4wp-form-1 {
      margin-bottom: 50px;
      margin-top: 28px;
      width: 340px;
      overflow: hidden;
      
      .mc4wp-alert {
         overflow: hidden;
         padding: 10px;
         color: @lightGray;
         border: 1px solid @lightGray;
      }

      #mc4wp_email {
         width: 70%;
         padding: 10px;
         border: @lightGray;
         float: left;
         bottom: 0;
         
         &:focus {
            border-color: @footerTextColor;
            outline: 0;
            .box-shadow(none);
         }

      }

      input[type="submit"] {
         border: 0;
         padding: 10px;
         width: 30%;     
         float: left;
         color: #fff;
         background: @linkColor;
         .transition(all 0.2s ease-in);
         margin-bottom: 20px;
         
         &:hover {
            background: lighten(@linkColor, 10%);
         }
      }
   }
   
   .wpcf7 {
      margin-top: 28px;
      
      .wpcf7-form {
         width: 340px;
      }
      
      .wpcf7-not-valid-tip {
         display: none;
      }

      .wpcf7-response-output {
         margin: 0;
         border: 1px solid @footerTextColor;
         color: @lightGray;
         padding: 10px;
      }

      input[type="text"],
      textarea,
      input[type="email"],
      input[type="submit"] {
         width: 100%;
         padding: 10px;
         resize: none;
         background: @darkBlueColor;
         color: @lightGray;
         border: 1px solid @footerTextColor;
         
         &:focus {
            border-color: @footerTextColor;
            outline: 0;
            .box-shadow(none);
            color: @lightGray;
         }
      }

      textarea {
         margin-bottom: 15px;
         height: 150px;
      }

      input[type="email"] {
         width: 70%;
         float: left;
      }

      input[type="submit"] {
         float: left;
         margin-top: -22px;
         width: 30%;
         color: @lightGray;
         border-left: 0;
         .transition(all 0.2s ease-in);
         background: transparent;
         
         &:hover {
            background: @footerTextColor;
         }
      }

      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
         color: @footerTextColor;
      }

      input:-moz-placeholder,
      textarea:-moz-placeholder {
         color: @footerTextColor;
      }

      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
         color: @footerTextColor;
      }
   }
   
   .widget h3 {
      display: none;
   }
   
   .quantum-lab-logo {
      margin-top: 20px;
      margin-bottom: 25px;
   }
   
   p {
      font-size: 16px;
      color: @lightGray;
      text-align: left;
   }

   a {
      color: @lightGray;
      .transition(all 0.2s ease-in);
      
      &:hover {
         color: #fff;
         text-decoration: none;
      }
   }

   .developed-by {
      width: 280px;
   }

   .contact-form,
   .newsletter-form {
      width: 370px;
   }

   .social {
      padding: 0;
      margin: 0;
      margin-top: 20px;
      
      li {
         display: inline-block;
         list-style-type: none;
         
         a {
            padding-left: 34px;
            display: inline-block;
            line-height: 30px;
            margin-left: 15px;
            font-size: 16px;
         }

         &:first-child a {
            margin-left: 0;
         }

         .facebook {
            background: url(../img/facebook.png) 7px center no-repeat;
         }

         .twitter {
            background: url(../img/twitter.png) left center no-repeat;
         }

         .tumblr {
            background: url(../img/tumblr.png) 7px center no-repeat;
         }
      }
   }
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
   background: @footerBackgroundColor;
   padding: 25px 0;
   
   p, 
   a {
      color: @footerTextColor;
      font-size: 16px;   
   }

   .bottom-nav ul,
   .bottom-side-nav ul {
      padding: 0;
      margin: 0;
      
      li {
         list-style-type: none;
         display: inline-block;
         padding: 0 6px;
         position: relative;
         
         &:after {
            content: ' | ';
            position: absolute;
            right: -3px;
            
         }

         &:last-child:after {
            content: none;
         }
         
         a {
            .transition(all 0.2s ease-in);
            display: inline-block;
            padding-bottom: 1px;
            border-bottom: 1px solid transparent;
            
            &:hover {
               color: #fff;
               text-decoration: none;
            }
         }

         &.active a {
            border-color: @footerTextColor;
         }
      }
   }

   .bottom-side-nav ul {
      .alignright;
   }
}

/* ==========================================================================
   Homepage
   ========================================================================== */

.home {
   header {
      background: none;
      
      &.affix-top {
         position: absolute;
      }
      
      &.affix {
         background: @headerBackgroundColor;
         background: @headerBackgroundColorOpacity;
      }
   }

   .contact {
      margin-top: 75px;
   }
}

/* ==========================================================================
   Static Pages
   ========================================================================== */
   
.dashed-line {
   background: url(../img/border.png);
   height: 1px;
   margin: 20px 0
}   
   
.static-page-title {
   padding: 90px 0;
   
   h2 {
      font-size: 36px;
      color: @darkBlueColor;
      text-transform: none;
      margin: 0;
      padding: 0;
      
      &:after {
         content: none;
      }
   }
}   

.static-page-content {
   background: @grayColor;
   padding: 55px 0;
   
   h2 {
      font-size: 22px; 
      color: @darkBlueColor;
      padding: 0;
      margin-bottom: 10px;
      text-align: left;
      
      &:after {
         content: none;
      }
   }

   p {
      font-size: 18px;
      text-align: left;
   }

   a {
      color: @linkColor;
      text-decoration: underline;
      
      &:hover {
         text-decoration: none;
      }
   }

   ul {
      padding: 0;
      
      li {
         list-style-type: none;
         display: inline-block;
         margin-bottom: 5px;
         
         a {
            font-size: 18px;
            color: @darkBlueColor;
         }
      }
   }
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
